<ion-header>
  <ion-toolbar>

    <ion-title>Dependentes</ion-title>

    <ion-buttons slot="end">
        <ion-button  (click)="fechar()">Voltar</ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <form onsubmit="processForm(event)">

    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      
      <ion-item>
        <ion-label position="stacked">Nome <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Sobre Nome <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Notes</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button color="success" expand="block" type="submit" class="ion-no-margin">Create account</ion-button>
    </div>

  </form>

</ion-content>
